<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>SSC-AdminPage</title>
</head>

<body>
  <div class="container">
    <h2>Admin Controls</h2>
    <ul class="nav nav-pills">
      <li class="active"><a data-toggle="pill" href="#addteam">ADD TEAMS</a></li>
      <li><a data-toggle="pill" href="#addplayer">ADD PLAYERS</a></li>
      <li><a data-toggle="pill" href="#fixtures">CREATE FIXTURES</a></li>
      <li><a data-toggle="pill" href="#updatescore">UPDATE SCORE</a></li>
      <li><a data-toggle="pill" href="#extra_menu">EXTRA MENU</a></li>
      <li><a data-toggle="pill" href="#extra_menu">EXTRA MENU</a></li>
    </ul>

    <div class="tab-content">
    <!-- Add Team starts here. -->
      <div class="tab-pane fade in active" id="addteam">
        <div class="row">
          <div class="col-sm-4">
            <input type="text" placeholder="Enter Team Name" class="form-control form-control-success" ng-model="team_name">
          </div>
          <div class="col-sm-2 offset-sm-3">
            <button type="button" class="btn btn-primary" ng-click="submitTeam(team_name)">ADD TEAM</button>
          </div>
        </div>
        <!-- table starts from here... -->
        <div class="panel panel-info">
          <div class="panel-heading table-responsive">AVAILABLE TEAMS</div>
            <div class="panel-body">
              <!-- table starts from here -->
              <div ng-include="'views/admin/availableTeams.html'"></div>
              <!-- Table ends here -->
            </div>
          </div>
      </div>
<!-- Add Player starts here. -->
      <div id="addplayer" class="tab-pane fade">
        <div class="row">
          <div class="col-sm-4">
            <input type="text" placeholder="Please specify players name" class="form-control form-control-success" ng-model="player_name">
          </div>
          <div class="col-sm-2 offset-sm-3">
            <button type="button" class="btn btn-primary" ng-click="submitPlayer(player_name)">Add Player</button>
          </div>
        </div>

        <!-- Panel which shows available sports. also gives you option to add sports. -->
        <div class="panel panel-info">
          <div class="panel-heading table-responsive">AVAILABLE PLAYERS</div>
          <div class="panel-body">
            <!-- table for available players starts from here -->
            <div ng-include="'views/admin/availablePlayers.html'"></div>
            <!-- available palyers table end here. -->
          </div>
        </div>
      </div>

<!-- fixtures tab starts from here  -->
      <div id="fixtures" class="tab-pane fade">
        <h3>Create Fixtures..</h3>
        <div ng-include="'views/admin/addFixtures.html'"></div>
      </div>
<!--fixtures tab ends here  -->
      <!-- update Scores starts here. -->
      <div id="updatescore" class="tab-pane fade">
        <h3>Update Scores</h3>
      </div>
      <!-- update scores div close -->

      <div id="extra_menu" class="tab-pane fade">
        <h3>Extra Menu</h3>
      </div>
      <!-- extra menu div close -->

      <div id="extra_menu" class="tab-pane fade">
        <h3>Extra Menu</h3>
      </div>
      <!-- extraMenu div close -->
    </div>
      <!--container div close -->
  </div>
</body>
