<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SSC-AdminPage</title>
  </head>

  <body>
    <div class="container">
      <h2>Admin Controls</h2>
      <ul class="nav nav-pills">
        <li class="active"><a data-toggle="pill" href="#addsport">ADD SPORT</a></li>
        <li><a data-toggle="pill" href="#addteam">ADD TEAM</a></li>
        <li><a data-toggle="pill" href="#addplayer">ADD PLAYER</a></li>
        <li><a data-toggle="pill" href="#updatescore">UPDATE SCORE</a></li>
        <li><a data-toggle="pill" href="#extra_menu">EXTRA MENU</a></li>
        <li><a data-toggle="pill" href="#extra_menu">EXTRA MENU</a></li>
      </ul>

    <div class="tab-content">
      <div id="addsport" class="tab-pane fade in active">
        <div class="row">
          <div class="col-sm-4">
            <input type="text" placeholder="add sport/specify sport" class="form-control form-control-success" ng-model="sport_name">
          </div>
          <div class="col-sm-2 offset-sm-3">
            <button type="submit" class="btn btn-primary" ng-click="submit(sport_name)">Add Sport</button>
          </div>
        </div>
        <!-- Panel which shows available sports. also gives you option to add sports. -->
        <div class="panel panel-info">
            <div class="panel-heading">AVAILABLE SPORTS</div>
            <div class="panel-body">
              <table class="table">
                <thead>
                  <tr>
                    <td>Name</td>
                    <td>Delete</td>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat='sport in sportsBook track by $index'>
                    <td>{{sport.sport_name}}</td>
                    <td>remove</td>
                  </tr>

                </tbody>
              </table>
            </div>
        </div>
      </div>








      <div id="addteam" class="tab-pane fade">

        <div class="row">
          <div class="col-sm-4">
            <input type="text" placeholder="specify team name" class="form-control form-control-success" ng-model="team_name">
          </div>
          <div class="col-sm-2 offset-sm-3">
            <button type="submit" class="btn btn-primary" ng-click="submit(team_name)">Add Team</button>
          </div>
        </div>
</div>



<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
      <div id="addplayer" class="tab-pane fade">
        <div class="row">
          <div class="col-sm-4">
            <input type="text" placeholder="player's name" class="form-control form-control-success" ng-model="playerName">
          </div>
          <div class="col-sm-2 offset-sm-3">
            <button type="submit" class="btn btn-primary" ng-click="submit(playerName)">ADD PLAYER</button>
          </div>
        </div>
      </div>


      <div id="updatescore" class="tab-pane fade">
        <h3>Update Scores</h3>
      </div>

      <div id="extra_menu" class="tab-pane fade">
        <h3>Extra Menu</h3>
      </div>


      <div id="extra_menu" class="tab-pane fade">
        <h3>Extra Menu</h3>
      </div>
    </div>

  </div>

    <!-- <div class="row">
    <div class="col-lg-12">
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#addteam">ADD-TEAM</a></li>
        <li><a data-toggle="tab" href="#editscore">EDIT-SCORE</a></li>
        <li><a data-toggle="tab" href="#item3">ITEM-3</a></li>
        <li><a data-toggle="tab" href="#item4">ITEM-4</a></li>
      </ul>
      <br>
      <br>
      <div class="tab-content">
        <div class="col-lg-10" id="addteam">
          <div class="form-group row" id="addteam">
            <div class="col-sm-6">
              <input type="text" placeholder="specify team name" class="form-control form-control-success">
            </div>
            <div class="col-sm-2 offset-sm-3">
              <button type="submit" class="btn btn-primary">Add Team</button>
            </div>
          </div>
        </div>
      </div>
      <! tab content div close -->
    <!-- </div> -->
    <!-- col-lg-12 close-->
    <!-- </div> -->
    <!-- row class close -->
  </body>
