
<!--Footer-->
<footer class="page-footer center-on-small-only">
    
    <div class="footer-menu text-center">
        <div class="container-fluid">
            BOTTOM FOOTER <a href="http://www.strandls.com"> Strand Life Sciences Pvt. Ltd.</a>
            <p>Footer</p>
            <p>Footer</p>
        </div>
    </div>

    <!--Copyright-->
    <div class="footer-copyright text-center">
        <div class="container-fluid">
            © 2017 Copyright: <a href="http://www.strandls.com"> Strand Life Sciences Pvt. Ltd. </a>

        </div>
    </div>
    <!--/.Copyright-->

</footer>
<!--/.Footer-->
                