<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Strand's Sports Club - Home</title>
</head>

<body>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="images/teams1.jpg" alt="teams" class="img-responsive img-fluid">
                <div class="carousel-caption">
                    <h3>Teams</h3>
                </div>
            </div>
            <div class="item">
                <img src="images/seven.jpg" alt="Image2" class="img-responsive img-fluid">
                <div class="carousel-caption">
                    <h3>Image2</h3>
                </div>
            </div>
            <!--  <div class="item">
                <img src="images/one.jpg" alt="Image3" class="img-responsive img-fluid">
                <div class="carousel-caption">
                    <h3>Image3</h3>
                </div>
            </div> -->
            <div class="item">
                <img src="images/teams2.jpg" alt="Image4" class="img-responsive img-fluid">
                <div class="carousel-caption">
                    <h3>Teams2</h3>
                </div>
            </div>
        </div>
        <a href="#myCarousel" class="carousel-control left" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
        <a href="#myCarousel" class="carousel-control right" data-slide="next">
        <span class="icon-next"></span>
    </a>
    </div>

    <div class="container text-center">
        <h2>ORGANISERS</h2>
        <div class="row">
            <div class="col-sm-3">
                <img src="images/dracarys.png" id="icon">
                <h3>Nitin</h3>                
            </div>
            <div class="col-sm-3">
                <img src="images/dracarys.png" id="icon">
                <h3>Sunil</h3>
            </div>
            <div class="col-sm-3">
                <img src="images/bad-minions.png" id="icon">
                <h3>Naveen</h3>                
            </div>
            <div class="col-sm-3">
                <img src="images/strand-falcons.png" id="icon">
                <h3>Atanu</h3>                
            </div>
        </div>
    </div>

</body>

</html>